<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div><ion-title>Mis Encuestas</ion-title></div>
        </ion-col>
        <ion-col>
          <div> <h2>{{nombre}} {{apellido}}<br> Modalidad {{rol}}</h2></div>
        </ion-col>
        <ion-col>
          <div>  
           
            <ion-avatar slot="start">
              <img src="https://imgs.globovision.com/41T1b5hiCk6bhh4IC5ag2FFeeTk=/847x0/smart/9578fca5d59845cf84546777e80164b1">
            </ion-avatar>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>



</ion-header>

  
<ion-content fullscreen class="ion-padding">

  <body>
    <div>
      <h1 class="encuesta">Pure CSS Fancy Checkbox/Radio</h1>
      
      <h1>Radio Buttons</h1>
      <div class="group">
        <input type="radio" name="rb" id="rb1" />
        <label for="rb1">0</label>
        <input type="radio" name="rb" id="rb2" />
        <label for="rb2">1</label>
        <input type="radio" name="rb" id="rb3" />
        <label for="rb3">2</label>
        <input type="radio" name="rb" id="rb4" />
        <label for="rb4">3</label>
      </div>
      
      <h1>Checkbox</h1>
      <div class="group">
        <input type="checkbox" name="cb" id="cb1" />
        <label for="cb1">Check this</label>
        <input type="checkbox" name="cb" id="cb2" />
        <label for="cb2">... and this...</label>
        <input type="checkbox" name="cb" id="cb3" />
        <label for="cb3">and maybe this</label>
      </div>
    
    </div>

    <button on-click="obtenerDesdeApp()">lol</button>
  </body>



</ion-content>
  