<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div><ion-title>Datos de la EPS</ion-title></div>
        </ion-col>
        <ion-col>
          <div> <h2>{{nombre}}<br> Modalidad {{rol}}</h2></div>
        </ion-col>
        <ion-col>
          <div>  
           
            <ion-avatar slot="start">
              <img src="https://imgs.globovision.com/41T1b5hiCk6bhh4IC5ag2FFeeTk=/847x0/smart/9578fca5d59845cf84546777e80164b1">
            </ion-avatar>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="text-align: center;">
    

      <form class="modal-content animate" action="/action_page.php" method="post">
    
        <div class="container">

          
          <form>
            <div class="form-group">
              <form [formGroup]='EPSForm'>


                        
                <div class="form-group">
                  <label >Nit</label>
                  <input type="text" formControlName="nit" class="form-control" placeholder="Digita el NIT de la eps" required>
                </div>
      
      
                 <div class="form-group">
                   <label >Identificacion de administrador</label>
                   <input type="number" formControlName="idAdministrador" class="form-control" placeholder="Digita la identificacion del administrador" required>
                 </div>

                 <div class="form-group">
                  <label >Nombre de administrador</label>
                  <input type="text" formControlName="nombreAdmin" class="form-control" placeholder="Digita el nombre del administrador" required>
                </div>
      
                 <div class="form-group">
                   <label >Nombre de sede principal</label>
                   <input type="text" formControlName="sede1Nombre" class="form-control" placeholder="Digita el nombre de la sede principal de la EPS" required>
                 </div>

                 <div class="form-group">
                  <label >Numero Telefonico de sede principal</label>
                  <input type="tel" formControlName="sede1Tel" class="form-control" placeholder="Digita el numero telefonico de la sede principal" required>
                </div>
      
      
                 <div class="form-group">
                   <label >URL de la pagina de la sede principal</label>
                   <input type="url" formControlName="sede1Pag" class="form-control" placeholder="Copia y pega la URL" required>
                 </div>



                 <div class="form-group">
                  <label >Nombre de sede 2</label>
                  <input type="text" formControlName="sede2Nombre" class="form-control" placeholder="Digita el nombre de la sede 2 de la EPS" required>
                </div>

                <div class="form-group">
                 <label >Numero Telefonico de sede 2</label>
                 <input type="tel" formControlName="sede2Tel" class="form-control" placeholder="Digita el numero telefonico de la sede 2" required>
               </div>
     
     
                <div class="form-group">
                  <label >URL de la pagina de la sede 2</label>
                  <input type="url" formControlName="sede2Pag" class="form-control" placeholder="Copia y pega la URL" required>
                </div>


                <div class="form-group">
                  <label >Nombre de sede 3</label>
                  <input type="text" formControlName="sede3Nombre" class="form-control" placeholder="Digita el nombre de la sede 3 de la EPS" required>
                </div>

                <div class="form-group">
                 <label >Numero Telefonico de sede 3</label>
                 <input type="tel" formControlName="sede3Tel" class="form-control" placeholder="Digita el numero telefonico de la sede 3" required>
               </div>
     
     
                <div class="form-group">
                  <label >URL de la pagina de la sede 3</label>
                  <input type="url" formControlName="sede3Pag" class="form-control" placeholder="Copia y pega la URL" required>
                </div>


                 <div class="form-group">
                  <label >Correo electrónico principal</label>
                  <input type="email" formControlName="correoPrincipal" class="form-control" placeholder="Digita tu correo electrónico principal" required>
                </div>
      
                 <div class="form-group">
                   <label >Correo electrónico secundario</label>
                   <input type="email" formControlName="correoSecundario" class="form-control" placeholder="Digita tu correo electrónico secundario" required>
                 </div>


              </form>
            </div>
          </form>
            

          <button class="items" (click)="actualizarInfoEPS()" >Guardar cambios</button>
        </div>
      </form>
    </div>

  


</ion-content>
