
<ion-content>


  <!--Este es el modal de registrar paciente-->
  <div style="text-align: center;">
    
    <div id="registroPaciente" class="modal">
      

      <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="imgcontainer">
          
          <div class="center">

              <h1 class="uno">Registro para paciente </h1><button class="items" (click)="regToEPS()">Quiero registrarme como EPS</button>
              <br> 
          </div>
          
        </div>
    
        <div class="container">

          
          <form>
            <div class="form-group">
              <form [formGroup]='registroForm'>


                        
                <div class="form-group">
                  <label >Nombre</label>
                  <input type="text" formControlName="nombre" class="form-control" placeholder="Digita tu nombre" required>
                </div>
      
      
                 <div class="form-group">
                   <label >Primer Apellido</label>
                   <input type="text" formControlName="apellido1" class="form-control" placeholder="Digita tu primer apellido" required>
                 </div>

                 <div class="form-group">
                  <label >Segundo Apellido</label>
                  <input type="text" formControlName="apellido2" class="form-control" placeholder="Digita tu segundo apellido" required>
                </div>
      
                 <div class="form-group">
                   <label >Fecha de nacimiento</label>
                   <input type="date" formControlName="fechaNacimiento" class="form-control" placeholder="selecciona tu fecha de nacimiento" required>
                 </div>

                 <div class="form-group">
                  <label >Lugar de nacimiento</label>
                  <input type="text" formControlName="lugarNacimiento" class="form-control" placeholder="Digita tu lugar de nacimiento" required>
                </div>
      
      
                 <div class="form-group">
                   <label >Genero</label>
                   <input type="text" formControlName="genero" class="form-control" placeholder="Digita tu genero" required>
                 </div>


                 <div class="form-group">
                  <label >Orientacion sexual</label>
                  <input type="text" formControlName="orientacionSexual" class="form-control" placeholder="Digita tu orientacion sexual" required>
                </div>
      
      
                 <div class="form-group">
                   <label >Direccion de residencia</label>
                   <input type="text" formControlName="direccionResidencia" class="form-control" placeholder="Digita tu direccion de residencia" required>
                 </div>

                 <div class="form-group">
                  <label >Direccion laboral</label>
                  <input type="text" formControlName="direccionLaboral" class="form-control" placeholder="Digita tu direccion laboral" required>
                </div>
      
      
                 <div class="form-group">
                   <label >Estrato</label>
                   <input type="number" formControlName="estrato" class="form-control" placeholder="Digita tu estrato" required>
                 </div>

                 <div class="form-group">
                  <label >Correo electrónico principal</label>
                  <input type="email" formControlName="correoPrincipal" class="form-control" placeholder="Digita tu correo electrónico principal" required>
                </div>
      
                <div class="form-group">
                  <label >Contraseña</label>
                  <input type="password" formControlName="contra" class="form-control" placeholder="inventa tu contraseña" required>
                </div>
      
      
                 <div class="form-group">
                   <label >Confirma tu contraseña</label>
                   <input type="password" formControlName="confirmaContra" class="form-control" placeholder="vuelve a escribir tu contraseña" required>
                 </div>
      
                 <div class="form-group">
                   <label >Correo electrónico secundario</label>
                   <input type="email" formControlName="correoSecundario" class="form-control" placeholder="Digita tu correo electrónico secundario" required>
                 </div>


                 <div class="form-group">
                  <label >Nombre de contacto</label>
                  <input type="text" formControlName="nombreContacto" class="form-control" placeholder="Digita el nombre de un contacto tuyo" required>
                </div>
      
      
                 <div class="form-group">
                   <label >Telefono de contacto</label>
                   <input type="tel" formControlName="telefonoContacto" class="form-control" placeholder="Digita aqui el telefono de tu contacto" required>
                 </div>

                 <div class="form-group">
                  <label >Servicio de salud</label>
                  <input type="text" formControlName="servicioSalud" class="form-control" placeholder="Digita el nombre del servicio de salud que usas" required>
                </div>
      
      
                 <div class="form-group">
                   <label >Acepto la politica de tratamiento de datos personales</label>
                   <input type="checkbox" formControlName="politica" class="form-control" placeholder="¿Estas de acuerdo?" required>
                 </div>

                 <div class="form-group">
                  <label >Acepto los terminos y condiciones</label>
                  <input type="checkbox" formControlName="terminos" class="form-control" placeholder="¿Estas de acuerdo?" required>
                </div>


              </form>
            </div>
          </form>
            

          <button class="items" (click)="registrar()" >Enviar registro</button>
          <button class="items" (click)="regToIn()">Ya tengo una cuenta</button>
        </div>
      </form>
    </div>

  
  </div>


<!--Este es el modal de iniciar sesion-->
  
  <div style="text-align: center;">
    
    <div id="login" class="modal">
      

      <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="imgcontainer">
          
          <div class="modal-header" class="center">
     
              <h1 class="uno">Sistema</h1><h1 class="dos">WSD</h1>
          </div>

          <button class="items" (click)="cambiarContra()">Olvide mi contraseña!</button>

          
        </div>
    
        <div class="container">

          
          <form>
            <div class="form-group">
              <form [formGroup]='loginForm'>


                <div class="vertical">      
                <div class="form-group">
                  <label >Nombre de usuario</label>
                  <input type="email" formControlName="nombre" class="form-control" placeholder="digita el nombre de usuario con que te registraste" required>
                </div>
      
      
                 <div class="form-group">
                   <label >Contraseña</label>
                   <input type="password" formControlName="contra" class="form-control" placeholder="digita aqui tu contraseña" required>
                 </div>
                </div>
              </form>
            </div>
          </form>
            

          <button class="items"  (click)="iniciarSesion()" >Iniciar Sesion</button>
          <button class="items" on-click="inToReg()">Aun no tengo cuenta</button>
        </div>

      </form>
    </div>

  
  </div>


    <!--Este es el modal de registrar eps-->
    <div style="text-align: center;">
    
      <div id="registroEPS" class="modal">
        
  
        <form class="modal-content animate" action="/action_page.php" method="post">
          <div class="imgcontainer">
            
            <div class="center">
                <h1 class="uno">Registro para EPS </h1><button class="items" (click)="EPSToReg()">Quiero registrarme como Paciente</button>
                <br> 
            </div>
            
          </div>
      
          <div class="container">
  
            
            <form>
              <div class="form-group">
                <form [formGroup]='registroEPSForm'>
  
  
                          
                  <div class="form-group">
                    <label >Nit</label>
                    <input type="text" formControlName="nit" class="form-control" placeholder="Digita el NIT de la eps" required>
                  </div>
        
        
                   <div class="form-group">
                     <label >Identificacion de administrador</label>
                     <input type="number" formControlName="idAdministrador" class="form-control" placeholder="Digita la identificacion del administrador" required>
                   </div>
  
                   <div class="form-group">
                    <label >Nombre de administrador</label>
                    <input type="text" formControlName="nombreAdmin" class="form-control" placeholder="Digita el nombre del administrador" required>
                  </div>
        
                   <div class="form-group">
                     <label >Nombre de sede principal</label>
                     <input type="text" formControlName="sede1Nombre" class="form-control" placeholder="Digita el nombre de la sede principal de la EPS" required>
                   </div>
  
                   <div class="form-group">
                    <label >Numero Telefonico de sede principal</label>
                    <input type="tel" formControlName="sede1Tel" class="form-control" placeholder="Digita el numero telefonico de la sede principal" required>
                  </div>
        
        
                   <div class="form-group">
                     <label >URL de la pagina de la sede principal</label>
                     <input type="url" formControlName="sede1Pag" class="form-control" placeholder="Copia y pega la URL" required>
                   </div>



                   <div class="form-group">
                    <label >Nombre de sede 2</label>
                    <input type="text" formControlName="sede2Nombre" class="form-control" placeholder="Digita el nombre de la sede 2 de la EPS" required>
                  </div>
 
                  <div class="form-group">
                   <label >Numero Telefonico de sede 2</label>
                   <input type="tel" formControlName="sede2Tel" class="form-control" placeholder="Digita el numero telefonico de la sede 2" required>
                 </div>
       
       
                  <div class="form-group">
                    <label >URL de la pagina de la sede 2</label>
                    <input type="url" formControlName="sede2Pag" class="form-control" placeholder="Copia y pega la URL" required>
                  </div>


                  <div class="form-group">
                    <label >Nombre de sede 3</label>
                    <input type="text" formControlName="sede3Nombre" class="form-control" placeholder="Digita el nombre de la sede 3 de la EPS" required>
                  </div>
 
                  <div class="form-group">
                   <label >Numero Telefonico de sede 3</label>
                   <input type="tel" formControlName="sede3Tel" class="form-control" placeholder="Digita el numero telefonico de la sede 3" required>
                 </div>
       
       
                  <div class="form-group">
                    <label >URL de la pagina de la sede 3</label>
                    <input type="url" formControlName="sede3Pag" class="form-control" placeholder="Copia y pega la URL" required>
                  </div>

  
                   <div class="form-group">
                    <label >Correo electrónico principal</label>
                    <input type="email" formControlName="correoPrincipal" class="form-control" placeholder="Digita tu correo electrónico principal" required>
                  </div>
        
                  <div class="form-group">
                    <label >Contraseña</label>
                    <input type="password" formControlName="contra" class="form-control" placeholder="inventa tu contraseña" required>
                  </div>
        
        
                   <div class="form-group">
                     <label >Confirma tu contraseña</label>
                     <input type="password" formControlName="confirmaContra" class="form-control" placeholder="vuelve a escribir tu contraseña" required>
                   </div>
        
                   <div class="form-group">
                     <label >Correo electrónico secundario</label>
                     <input type="email" formControlName="correoSecundario" class="form-control" placeholder="Digita tu correo electrónico secundario" required>
                   </div>
        
                   <div class="form-group">
                     <label >Acepto la politica de tratamiento de datos personales</label>
                     <input type="checkbox" formControlName="politica" class="form-control" placeholder="¿Estas de acuerdo?" required>
                   </div>
  
                   <div class="form-group">
                    <label >Acepto los terminos y condiciones</label>
                    <input type="checkbox" formControlName="terminos" class="form-control" placeholder="¿Estas de acuerdo?" required>
                  </div>
  
  
                </form>
              </div>
            </form>
              
  
            <button class="items" (click)="registrarEPS()" >Enviar registro</button>
            <button class="items" (click)="EPSToIn()">Ya tengo una cuenta</button>
          </div>
        </form>
      </div>
  
    
    </div>


  
</ion-content>
