ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  h1.uno{
    font-size: 22px;
    font-weight: 1000;
    min-height: 20px;
    color: #fafafa;
    width: 100%; 
  }
  
  
  
  h1.dos{
    font-size: 22px;
    font-weight: 1000;
    min-height: 20px;
    color: #ec640a;
    width: 100%; 
  
  }


  button.items{
    width: 100%;
    height: 50px;
    background-color: #043575;
    border-radius: 50px;
    transition: all 0.5s ease-out;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: justify;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
  
  }

  select.items{
    width: 50%;
    height: 50px;
    background-color: #ec640a;
    border-radius: 50px;
    transition: all 0.5s ease-out;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: justify;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    background-size: 30px,30px;
  }

  select{
    background-size: 30px,30px;
  }

  option.items{
    width: 100%;
    height: 50px;
    background-color: #ec640a;
    border-radius: 50px;
    transition: all 0.5s ease-out;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: justify;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
  
  }


  button.itemsActive{
    width: 100%;
    height: 50px;
    background-color: #043575;
    border-radius: 50px;
    transition: all 0.5s ease-out;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: justify;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
  
  }
  
  
  .items:hover {

    background-color: #ffffff;
    transition: all 0.7s ease-out;
    color: #043575;
  
  }
  
  .items:active {

    background-color: #ffffff;
    transition: all 0.7s ease-out;
    color: #043575;
  }
  
  
  .items:focus {

    background-color: #ffffff;
    transition: all 0.7s ease-out;
    color: #043575;
  }
  
  .items:target {

    background-color: #ffffff;
    transition: all 0.7s ease-out;
    color: #043575;
  }
  
  label{
    width: 20%;
    color: #ffffff;
  }

  label.labelLogin{
    width: 100%;
    color: #ffffff;
  }


  

  img.logo {
    height: 30px;
    width: 30px;
  }

  .abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .form {
    width: 450px;
  }

  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .tit {
      text-align: center;
  }
  
  body {font-family: Arial, Helvetica, sans-serif;}
    
  /* Full-width input fields */
  input[type=email], input[type=password],input[type=text],input[type=tel],input[type=number],input[type=date],[type=url] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(66, 61, 61);
    box-sizing: border-box;
    border-radius: 100px;
    text-align: center;
  }


  

  input[type=checkbox]{
    width: 4%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(66, 61, 61);
    box-sizing: border-box;
    border-radius: 100px;

  }

  form-control{
    align-content: center;
  }



.vertical{
}
 
.vertical > div{

}
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 4px 8px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .b1 {
    background-color: #0f71cc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .b2 {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }


  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #043575;

    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  img.logo {
    height: 30px;
    width: 30px;
  }

  .abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .form {
    width: 450px;
  }
  div.center {
    text-align: center;
  }

  a{
    color: #df8908;
  }

  img{
    height: 40%;
    width: 40%;
    border-radius: 10%;

  }

  