
<ion-content>


  <!--Este es el modal de registrar paciente-->
  <div style="text-align: center;">
    
    <div id="registroPaciente" class="modal">
      

      <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="imgcontainer">
          
          <div class="center">

              <h1 class="uno">Registro para paciente </h1><button class="items" (click)="regToEPS()">Quiero registrarme como EPS!</button>
              <br> 
          </div>
          
        </div>
    
        <div class="container">

          
          <form>
            <div class="form-group">
              <form [formGroup]='registroForm'>

                        
                <div class="form-group">
                  <label >Nombre</label>
                  <input type="text" formControlName="nombre" maxlength="90" class="form-control" placeholder="Digita tu nombre" required>
                </div>
      
      
                 <div class="form-group">
                   <label >Primer Apellido</label>
                   <input type="text" formControlName="apellido1" maxlength="45" class="form-control" placeholder="Digita tu primer apellido" required>
                 </div>

                 <div class="form-group">
                  <label >Segundo Apellido</label>
                  <input type="text" formControlName="apellido2" maxlength="45" class="form-control" placeholder="Digita tu segundo apellido" required>
                </div>

                <div class="form-group">
                  <label >Tipo de documento </label>

                  <select class="items" type="text" formControlName="tipoDoc" placeholder="--Elige--" required>

                    <option class="items" >CC</option>
                    <option class="items" >CE</option>
                    <option class="items" >PASAPORTE</option>
                    
                  </select>
                </div>

                <div class="form-group">
                  <label >Numero de documento</label>
                  <input type="number" formControlName="numDoc" min=0 max=9999999999999 class="form-control" placeholder="Digita tu direccion laboral" required>
                 </div>


                 <div class="form-group">
                  <label >Ciudad de residencia</label>
                  <input type="text" formControlName="lugarNacimiento" maxlength="45" class="form-control" placeholder="Digita tu lugar de nacimiento" required>
                </div>

                <div class="form-group">
                  <label >Teléfono de contacto</label>
                  <input type="number" formControlName="telefonoContacto" min="0" class="form-control" placeholder="Digita aqui el telefono de tu contacto" required>
                </div>


                <div class="form-group">
                  <label >Correo electrónico principal</label>
                  <input type="email" formControlName="correoPrincipal" class="form-control" placeholder="Digita tu correo electrónico principal" required>
                </div>
      
      
                 <div class="form-group">
                   <label >Correo electrónico secundario</label>
                   <input type="email" formControlName="correoSecundario" class="form-control" placeholder="Digita tu correo electrónico secundario" required>
                 </div>

                
      
                 <div class="form-group">
                   <label >Edad</label>
                   <input type="number" formControlName="edad" min=0 max=120 class="form-control" placeholder="selecciona tu fecha de nacimiento" required>
                 </div>



                <div class="form-group">
                  <label >Sexo </label>

                  <select class="items" type="text" formControlName="sexo" placeholder="--Elige--" required>

                    <option class="items" >Masculino</option>
                    <option class="items" >Femenino</option>

                    
                  </select>
                </div>


                 
                <div class="form-group">
                  <label >Identidad de Género </label>

                  <select class="items" type="text" formControlName="identidadGenero" placeholder="--Elige--" required>

                    <option class="items" >Cisgénero</option>
                    <option class="items" >Transgénero</option>

                    
                  </select>
                </div>

                <div class="form-group">
                  <label >Orientacion sexual </label>

                  <select class="items" type="text" formControlName="orientacionSexual" value="--Elige--" required>

                    <option class="items" >Heterosexual</option>
                    <option class="items" >Homosexual</option>
                    <option class="items" >Bisexual</option>
                    <option class="items" >Pansexual</option>
                    <option class="items" >Prefiero no responder</option>


                    
                  </select>
                </div>


                                  
                <div class="form-group">
                  <label >Estrato Socioeconómico</label>

                  <select class="items" type="number" formControlName="estrato" placeholder="--Elige--" required>

                    <option class="items" >0</option>
                    <option class="items" >1</option>
                    <option class="items" >2</option>
                    <option class="items" >3</option>
                    <option class="items" >4</option>
                    <option class="items" >5</option>
                    <option class="items" >6</option>

                    
                  </select>
                </div>



                <div class="form-group">
                  <label >Estado civil </label>

                  <select class="items" type="text" formControlName="estadoCivil" value="--Elige--" required>

                    <option class="items" >Soltero</option>
                    <option class="items" >Casado</option>
                    <option class="items" >Union Libre</option>
                    <option class="items" >Viudo</option>
                    <option class="items" >Divorciado</option>


                    
                  </select>
                </div>

      

                <div class="form-group">
                  <label >¿A qué entidad quieres inscribirte? </label>

                  <select class="items" type="text" formControlName="servicioSalud" placeholder="--Elige--" required>
                    
                    <option class="items" >--Elige--</option>
                    <option class="items" *ngFor="let item of collectionEPS.data">{{item.correoPrincipal}}</option>

                  </select>
                </div>
  
      
                 <div class="form-group">
                   <label >Acepto la política de tratamiento de datos personales <a  href="https://www.ucatolica.edu.co/portal/habeas-data/" target="_blank">Habeas data</a>.</label>
                   <input type="checkbox" formControlName="politica" class="form-control" placeholder="¿Estas de acuerdo?" required>
                 </div>

                 <div class="form-group">
                  <label >Acepto los <a  href="https://www.ucatolica.edu.co/portal/terminos-y-condiciones/" target="_blank">términos y condiciones</a>.</label>
                  <input type="checkbox" formControlName="terminos" class="form-control" placeholder="¿Estas de acuerdo?" required>
                </div>


              </form>
            </div>
          </form>
            

          <button class="items" (click)="registrar()" >Enviar registro</button>
          <button class="items" (click)="regToIn()">Ya tengo una cuenta</button>
        </div>
      </form>
    </div>

  
  </div>


  
<!--Este es el modal de iniciar sesion-->
  
  <div style="text-align: center;">
    
    <div id="login" class="modal">
      

      <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="imgcontainer">
          
          <div class="modal-header" class="center">
     
              <h1 class="uno">Sistema</h1><h1 class="dos">WSD</h1>
          </div>


          
        </div>

        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="container" >

        
                <form>
                  <div class="form-group">
                    <form [formGroup]='loginForm'>
      
      
                      <div class="vertical">      
                      <div class="form-group">
                        <label class="labelLogin">Correo Electrónico</label>
                        <input class="inputLogin" type="email" formControlName="nombre" class="form-control" placeholder="Digita el correo con que te registraste" required>
                      </div>
      
            
                       <div class="form-group">
                         <label class="labelLogin">Contraseña</label>
                         <input class="inputLogin" type="password" formControlName="contra" (keyup.enter)="iniciarSesion()"  class="form-control" placeholder="Digita aqui tu contraseña" required>
                       </div>
                      </div>
                    </form>
                  </div>
                </form>
      
                <a class="items" (click)="cambiarContra()">Olvidé mi contraseña!</a>
      
                  
      <div>  
                <button class="items"  (click)="iniciarSesion()" >Iniciar Sesión</button>
                <button class="items" on-click="inToReg()">Aún no tengo cuenta</button>
      
      </div>
      
              </div>
            </ion-col>
            <ion-col class = "columnaImagen">
              <div><img src="./assets/login.jpg" ></div>
            </ion-col>
          </ion-row>
        </ion-grid>
    <!--izquierda-->


      </form>
    </div>


    

  
  </div>


    <!--Este es el modal de registrar eps-->
    <div style="text-align: center;">
    
      <div id="registroEPS" class="modal">
        
  
        <form class="modal-content animate" action="/action_page.php" method="post">
          <div class="imgcontainer">
            
            <div class="center">
                <h1 class="uno">Registro para EPS </h1><button class="items" (click)="EPSToReg()">Quiero registrarme como Paciente</button>
                <br> 
            </div>
            
          </div>
      
          <div class="container">
  
            
            <form>
              <div class="form-group">
                <form [formGroup]='registroEPSForm'>
  
  
                          
                  <div class="form-group">
                    <label >Nit</label>
                    <input type="text" formControlName="nit" maxlength="11" class="form-control" placeholder="Digita el NIT de la eps" required>
                  </div>
        
        
                   <div class="form-group">
                     <label >Identificación de administrador</label>
                     <input type="number" formControlName="idAdministrador" min="1" max="99999999999" class="form-control" placeholder="Digita la identificación del administrador" required>
                   </div>
  
                   <div class="form-group">
                    <label >Nombre de administrador</label>
                    <input type="text" formControlName="nombreAdmin" maxlength="100" class="form-control" placeholder="Digita el nombre del administrador" required>
                  </div>
        
                   <div class="form-group">
                     <label >Nombre de sede principal</label>
                     <input type="text" formControlName="sede1Nombre" maxlength="30" class="form-control" placeholder="Digita el nombre de la sede principal de la EPS" required>
                   </div>
  
                   <div class="form-group">
                    <label >Número Telefónico de sede principal</label>
                    <input type="number" formControlName="sede1Tel" min="0" max="9999999999" class="form-control" placeholder="Digita el numero telefonico de la sede principal" required>
                  </div>
        
        
                   <div class="form-group">
                     <label >URL de la página de la sede principal</label>
                     <input type="url" formControlName="sede1Pag" class="form-control" placeholder="Copia y pega la URL" required>
                   </div>



                   <div class="form-group">
                    <label >Nombre de sede 2</label>
                    <input type="text" formControlName="sede2Nombre" maxlength="30" class="form-control" placeholder="Digita el nombre de la sede 2 de la EPS" required>
                  </div>
 
                  <div class="form-group">
                   <label >Número Telefónico de sede 2</label>
                   <input type="number" formControlName="sede2Tel" min="0" max="9999999999" class="form-control" placeholder="Digita el numero telefonico de la sede 2" required>
                 </div>
       
       
                  <div class="form-group">
                    <label >URL de la página de la sede 2</label>
                    <input type="url" formControlName="sede2Pag" class="form-control" placeholder="Copia y pega la URL" required>
                  </div>


                  <div class="form-group">
                    <label >Nombre de sede 3</label>
                    <input type="text" formControlName="sede3Nombre" maxlength="30" class="form-control" placeholder="Digita el nombre de la sede 3 de la EPS" required>
                  </div>
 
                  <div class="form-group">
                   <label >Número Telefónico de sede 3</label>
                   <input type="number" formControlName="sede3Tel" min="0" max="9999999999" class="form-control" placeholder="Digita el numero telefonico de la sede 3" required>
                 </div>
       
       
                  <div class="form-group">
                    <label >URL de la página de la sede 3</label>
                    <input type="url" formControlName="sede3Pag" class="form-control" placeholder="Copia y pega la URL" required>
                  </div>

  
                   <div class="form-group">
                    <label >Correo electrónico principal</label>
                    <input type="email" formControlName="correoPrincipal" class="form-control" placeholder="Digita tu correo electrónico principal" required>
                  </div>
      
        
                   <div class="form-group">
                     <label >Correo electrónico secundario</label>
                     <input type="email" formControlName="correoSecundario" class="form-control" placeholder="Digita tu correo electrónico secundario" required>
                   </div>
        




                   <div class="form-group">

                          <input type="checkbox" formControlName="politica" class="form-control" placeholder="¿Estas de acuerdo?" required>

                          <label >Acepto la política de tratamiento de datos personales</label>

                   </div>




  
                   <div class="form-group">

                          <label >Acepto los términos y condiciones</label>

                          <input type="checkbox" formControlName="terminos" class="form-control" placeholder="¿Estas de acuerdo?" required>

                  </div>
  
  
                </form>
              </div>
            </form>
              
  
            <button class="items" (click)="registrarEPS()" >Enviar registro</button>
            <button class="items" (click)="EPSToIn()">Ya tengo una cuenta</button>
          </div>
        </form>
      </div>
  
    
    </div>


  
</ion-content>
