ion-menu ion-content {
  
  --background: radial-gradient(circle at 37.72% 119.64%, #4f72da 0, #043575 50%, #00001f 100%);}

ion-menu.md ion-content {
  --padding-start: 30px;
  --padding-end: 0px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 20px;
  background-color:transparent;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}




ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 1000;
  min-height: 20px;
  color: #fafafa;
  
  
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 20px;

  margin-bottom: 18px;

  color: #12bbad;

  min-height: 26px;
}

ion-menu.md ion-item {

  border-radius: 50px;
  background-color:#043575;
  transition: all 0.5s ease-out;


}

h1.uno{
  font-size: 22px;
  font-weight: 1000;
  min-height: 20px;
  color: #fafafa;
  
}

h1.dos{
  font-size: 22px;
  font-weight: 1000;
  min-height: 20px;
  color: #ec640a;
  

}

ion-menu.md ion-item.selected {
  background-color:#043575;

  border-right: 10px outset #cccccc;
  margin-right: -40px;
  border-color: #fff;

  transition: all 0.5s ease-out;
}

ion-menu.md ion-item.selected ion-icon {
  color: var(#000000);
}

ion-menu.md ion-item ion-icon {
  color: #000000;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #12bbad;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(#12bbad);
}

ion-item.selected {
  --color: var(#12bbad);
}