<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div><ion-title>Mi perfil</ion-title></div>
        </ion-col>
        <ion-col>
          <div> <h2>{{nombre}} {{apellido}}<br> Modalidad {{rol}}</h2></div>
        </ion-col>
        <ion-col>
          <div>  
          
            <ion-avatar slot="start">
              <img src="https://imgs.globovision.com/41T1b5hiCk6bhh4IC5ag2FFeeTk=/847x0/smart/9578fca5d59845cf84546777e80164b1">
            </ion-avatar>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="top">
        <button class="tabinfo"   on-click="goToBasica()">
          <ion-label><h1>Datos Personales</h1></ion-label>
        </button>
        <button class="tabinfo"  on-click="goToSocio()">
          <ion-label><h1>Información Sociodemográfica</h1></ion-label>
        </button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>

  <app-loading *ngIf="cargando == true"></app-loading>

</ion-header>



<ion-content *ngIf="cargando == false" fullscreen class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>  
          
          <ion-slides #slides (ionSlideDidChange)="slideChanged()" [options]="slideOpts" *ngIf="mostrar==true">
        
            <ion-slide>
        
              <div class="slide">
        
        
                <div >
                      <div class="imgcontainer">
                        <div class="modal-header" class="center">
                          <h4 class="modal-title" id="modal-basic-title">
                            Actualización de datos Básicos <br> </h4>
                        </div>
                        
                      </div>
                  
                      <div class="container">        
        
              
              <form>
                <div class="form-group">
                  <form [formGroup]='registroForm'>
        
                            
                    <div class="form-group">
                      <label >Nombre</label>
                      <input type="text" formControlName="nombre" class="form-control" placeholder="Digita tu nombre" required>
                    </div>
          
          
                     <div class="form-group">
                       <label >Primer Apellido</label>
                       <input type="text" formControlName="apellido1" class="form-control" placeholder="Digita tu primer apellido" required>
                     </div>
        
                     <div class="form-group">
                      <label >Segundo Apellido</label>
                      <input type="text" formControlName="apellido2" class="form-control" placeholder="Digita tu segundo apellido" required>
                    </div>
          
                     <div class="form-group">
                       <label >Fecha de nacimiento</label>
                       <input type="date" formControlName="fechaNacimiento" class="form-control" placeholder="selecciona tu fecha de nacimiento" required>
                     </div>
        
                     <div class="form-group">
                      <label >Lugar de nacimiento</label>
                      <input type="text" formControlName="lugarNacimiento" class="form-control" placeholder="Digita tu lugar de nacimiento" required>
                    </div>
          
          
                 
                    <div class="form-group">
                      <label >Genero </label>
    
                      <select class="items" type="text" formControlName="genero" placeholder="--Elige--" required>
    
                        <option class="items" >Masculino</option>
                        <option class="items" >Femenino</option>
    
                        
                      </select>
                    </div>
        
        
                    <div class="form-group">
                      <label >Orientación sexual </label>
    
                      <select class="items" type="text" formControlName="orientacionSexual" value="--Elige--" required>
    
                        <option class="items" >Heterosexual</option>
                        <option class="items" >Homosexual</option>
                        <option class="items" >Bisexual</option>
                        <option class="items" >Transexual</option>
                        <option class="items" >Asexual</option>
                        <option class="items" >Pansexual</option>
                        <option class="items" >Androsexual</option>
                        <option class="items" >Demisexual</option>
                        <option class="items" >Sapiosexual</option>
                        <option class="items" >Graysexual</option>
                        <option class="items" >Metrosexual</option>
                        <option class="items" >Lumbersexual</option>
                        <option class="items" >Spornosexual</option>
                        <option class="items" >Queer</option>
                        <option class="items" >Arromantico</option>
                        <option class="items" >Poliamoroso</option>
    
                        
                      </select>
                    </div>
          
          
                     <div class="form-group">
                       <label >Dirección de residencia</label>
                       <input type="text" formControlName="direccionResidencia" class="form-control" placeholder="Digita tu direccion de residencia" required>
                     </div>
        
                     <div class="form-group">
                      <label >Dirección laboral</label>
                      <input type="text" formControlName="direccionLaboral" class="form-control" placeholder="Digita tu direccion laboral" required>
                    </div>
          
          
                    <div class="form-group">
                      <label >Estrato </label>
    
                      <select class="items" type="number" formControlName="estrato" placeholder="--Elige--" required>
    
                        <option class="items" >0</option>
                        <option class="items" >1</option>
                        <option class="items" >2</option>
                        <option class="items" >3</option>
                        <option class="items" >4</option>
                        <option class="items" >5</option>
                        <option class="items" >6</option>
    
                        
                      </select>
                    </div>
        
                     <div class="form-group">
                      <label >Correo electrónico principal</label>
                      <input type="email" formControlName="correoPrincipal" class="form-control" placeholder="Digita tu correo electrónico principal" required>
                    </div>

          
                     <div class="form-group">
                       <label >Correo electrónico secundario</label>
                       <input type="email" formControlName="correoSecundario" class="form-control" placeholder="Digita tu correo electrónico secundario" required>
                     </div>
        
        
                     <div class="form-group">
                      <label >Nombre de contacto</label>
                      <input type="text" formControlName="nombreContacto" class="form-control" placeholder="Digita el nombre de un contacto tuyo" required>
                    </div>
        
          
                     <div class="form-group">
                       <label >Teléfono de contacto</label>
                       <input type="number" formControlName="telefonoContacto" class="form-control" placeholder="Digita aqui el telefono de tu contacto" required>
                     </div>
        
        
                  </form>
                </div>
              </form>
                
        
                <button type="button" class="btn btn-outline-dark" (click)="actualizarInfoBasica()" >Guardar cambios</button>
              </div>
          </div>
        
              </div>
            </ion-slide>
        
            <ion-slide>
              <div class="slide">
        
        
        <div >
              <div class="imgcontainer">
                <div class="modal-header" class="center">
                  <h4 class="modal-title" id="modal-basic-title">
                    Actualización de datos sociodemográficos <br> </h4>
                </div>
                
              </div>
          
              <div class="container">
        
              
                <form>
                  <div class="form-group">
                    <form [formGroup]='infosociodemograficaForm'>
        
        
                              
                      <div class="form-group">
                        <label >¿Actualmente trabajas?</label>
                        <input type="checkbox" formControlName="trabaja" class="form-control" placeholder="Selecciona" required>
                      </div>
            
            
                       <div class="form-group">
                         <label >¿Trabajas en algo relacionado con tu perfil</label>
                         <input type="checkbox" formControlName="trabajoRelacionado" class="form-control" placeholder="Selecciona" required>
                         <label >¿Por qué motivo?</label>
                         <input type="text" formControlName="motivoTrabajo" class="form-control" placeholder="Cuentanos el motivo" required>
                       </div>
        
                       <div class="form-group">
                        <label >¿En que campo trabajas?</label>
                        <input type="text" formControlName="campoTrabajo" class="form-control" placeholder="agroindutria, tecnologia..." required>
                      </div>
            
                       <div class="form-group">
                         <label >¿Trabajas como empleado?</label>
                         <input type="checkbox" formControlName="empleado" class="form-control" placeholder="Selecciona" required>
                       </div>
        
                       <div class="form-group">
                        <label >¿Trabajas en empresa pública</label>
                        <input type="checkbox" formControlName="tipoEmpresa" class="form-control" placeholder="Digita tu lugar de nacimiento" required>
                      </div>
            
            
                       <div class="form-group">
                         <label >¿Cuantas horas semanales trabajas?</label>
                         <input type="number" formControlName="horasTrabajo" class="form-control" placeholder="20,30,0" required>
                       </div>
        
                               <!--Ahora preguntas  personales-->
                       <div class="form-group">
                        <label >Estado civil</label>
                        <input type="text" formControlName="estadoCivil" class="form-control" placeholder="Selecciona" required>
                      </div>
            
            
                       <div class="form-group">
                         <label >¿Con quién vives?</label>
                         <input type="text" formControlName="conQuienVive" class="form-control" placeholder="Cuentanos con quien vives" required>
                       </div>
        
                       <div class="form-group">
                        <label >¿En qué tipo de vivienda?</label>
                        <input type="text" formControlName="tipoVivienda" class="form-control" placeholder="propia, familiar, arrendada..." required>
                      </div>
            
            
                       <div class="form-group">
                         <label >¿Qué tipo de redes sociales usas? </label>
                         <input type="text" formControlName="tipoRedSocial" class="form-control" placeholder="Nombralas" required>
                         <label >¿Cuál usas mas?</label>
                        <input type="text" formControlName="redSocialFavorita" class="form-control" placeholder="cuentanos :D" required>
                       </div>
        
        
                       <div class="form-group">
                        <label >¿Nos autorizas para contactarte por este medio?</label>
                        <input type="checkbox" formControlName="autorizacionContacto" class="form-control" placeholder="" required>
                      </div>
        
        
                    </form>
                  </div>
                </form>
                  
        
                <button type="button" class="btn btn-outline-dark" (click)="actualizarInfoSociodemografica()" >Guardar cambios</button>
              </div>
          
          </div>
        
              </div>
        </ion-slide>
        </ion-slides></div>
      </ion-col>
      <ion-col>
        <div></div>
      </ion-col>
    </ion-row>
  </ion-grid>


  




</ion-content>


