<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <div class="center"><ion-title>tu informacion</ion-title></div>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <button type="button" class="btn btn-outline-dark" (click)="abrirEditarInfoSociodemografica()" >Editar mi informacion sociodemografica</button>
  
  <div style="text-align: center;">
    
    <div id="id03" class="modal">
      

      <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
          <div class="modal-header" class="center">
            <h4 class="modal-title" id="modal-basic-title">
              Actualizacion de datos sociodemograficos <br> </h4>
          </div>
          
        </div>
    
        <div class="container">

          
          <form>
            <div class="form-group">
              <form [formGroup]='infosociodemograficaForm'>


                        
                <div class="form-group">
                  <label >¿Actualmente trabajas?</label>
                  <input type="checkbox" formControlName="trabaja" class="form-control" placeholder="Selecciona" required>
                </div>
      
      
                 <div class="form-group">
                   <label >¿Trabajas en algo relacionado con tu perfil</label>
                   <input type="checkbox" formControlName="trabajoRelacionado" class="form-control" placeholder="Selecciona" required>
                   <label >¿Por qué motivo?</label>
                   <input type="text" formControlName="motivoTrabajo" class="form-control" placeholder="Cuentanos el motivo" required>
                 </div>

                 <div class="form-group">
                  <label >¿En que campo trabajas?</label>
                  <input type="text" formControlName="campoTrabajo" class="form-control" placeholder="Digita tu segundo apellido" required>
                </div>
      
                 <div class="form-group">
                   <label >¿Trabajas como empleado?</label>
                   <input type="checkbox" formControlName="empleado" class="form-control" placeholder="Selecciona" required>
                 </div>

                 <div class="form-group">
                  <label >¿Trabajas en empresa publica</label>
                  <input type="checkbox" formControlName="tipoEmpresa" class="form-control" placeholder="Digita tu lugar de nacimiento" required>
                </div>
      
      
                 <div class="form-group">
                   <label >¿Cuantas horas semanales trabajas?</label>
                   <input type="number" formControlName="horasTrabajo" class="form-control" placeholder="Digita tu genero" required>
                 </div>

<!--Ahora preguntas  personales-->
                 <div class="form-group">
                  <label >Estado civil</label>
                  <input type="text" formControlName="estadoCivil" class="form-control" placeholder="Selecciona" required>
                </div>
      
      
                 <div class="form-group">
                   <label >¿Con quien vives?</label>
                   <input type="text" formControlName="conQuienVive" class="form-control" placeholder="Cuentanos con quien vives" required>
                 </div>

                 <div class="form-group">
                  <label >¿En qué tipo de vivienda?</label>
                  <input type="text" formControlName="tipoVivienda" class="form-control" placeholder="propia, familiar o arrendada" required>
                </div>
      
      
                 <div class="form-group">
                   <label >¿Qué tipo de redes sociales usas? </label>
                   <input type="text" formControlName="tipoRedSocial" class="form-control" placeholder="Selecciona" required>
                   <label >¿Cual usas mas?</label>
                  <input type="text" formControlName="redSocialFavorita" class="form-control" placeholder="Digita tu correo electrónico principal" required>
                 </div>


                 <div class="form-group">
                  <label >¿Nos autorizas para contactarte por este medio?</label>
                  <input type="checkbox" formControlName="autorizacionContacto" class="form-control" placeholder="" required>
                </div>


              </form>
            </div>
          </form>
            

          <button type="button" class="btn btn-outline-dark" (click)="actualizarInfoSociodemografica()" >Guardar cambios</button>
        </div>
    
        <div class="container" style="background-color:#f1f1f1">
        </div>
      </form>
    </div>

  
  </div>

</ion-content>
